{% include 'helpyou/nav.html' %}
{%  load static %}
{% load humanize %}


    {% block css_area %}
      <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}


    {% block main_area %}

    <!-- 메인 리스트 -->
    <div class="main_list"></div>
        <div class="list_name">
            <div class="name">
                <h3>추천 상품!!</h3>
            </div>
        </div>
        <div class="products col4">
            {% if product_list.exists %}
                    {% for p in product_list %}
                        <li>
                            <div class="img_wrap">
                                <button class="img_button" onclick="retrun false;" style="background: url('{{ p.main_image.url }}') no-repeat; background-size: cover; width: 270px; height: 270px; border: none; cursor: pointer;">
{#                                    <img src="{{ p.main_image.url }}" alt="{{ p.name }}" width="270px" height="270px">#}
                                </button>
                            </div>
                            <div class="item_info">
                                <a class="click" href="categorydetail.html">
                                    <div class="space1"></div>
                                    <span class="name">
                                        {{ p.name }}
                                    </span>
                                </a>
                                <div class="space2">
                                    <span class="price">
                                        {{ p.price|intcomma }}원
                                    </span>
                                    <span class="price_detail">
                                        (1{{ p.unit }} 당 {{ p.price|intcomma }}원)
                                    </span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
            {% endif %}
        <script src="{% static 'js/index.js' %}"></script>

        </div>


    {% endblock %}

{%  include 'helpyou/footer.html' %}