<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Page</title>
    <link rel="stylesheet" href="mypage.css" />

  </head>
  <body>
    <!-- 헤더 -->
    <div class="header">
      <iframe src="header.html" width="100%" height="100%"></iframe>
    </div>

    <!-- 전체 틀 -->
    <div class="container">
      <!-- 사이드 -->
      <div class="side">
        <h1>MY PAGE</h1>
        <div class="list">
          <h2>주문정보</h2>
          <ul class="list_in">
            <li>
              <a href="#" onclick="showOrderInfo()"> 주문/배송 조회 </a>
            </li>
            <li>
              <a href="cancel.html"> 취소/반품/교환 조회 </a>
            </li>
          </ul>
        </div>
        <div class="list">
          <h2>쇼핑혜택</h2>
          <ul class="list_in">
            <li>
              <a href="coupon.html"> 쿠폰 </a>
            </li>
            <li>
              <a href="Mileage.html"> 마일리지 </a>
            </li>
          </ul>
        </div>
        <div class="list">
          <h2>쇼핑활동</h2>
          <ul class="list_in">
            <li>
              <a href="order"> 나의 찜 </a>
            </li>
            <li>
              <a href="review.html"> 상품리뷰 </a>
            </li>
            <li>
              <a href="question.html"> 상품문의 </a>
            </li>
          </ul>
        </div>
        <div class="list">
          <h2>회원정보</h2>
          <ul class="list_in">
            <li>
              <a href="profile.html"> 회원 정보 </a>
            </li>
            <li>
              <a href="delivery.html"> 배송 정보 </a>
            </li>
            <li>
              <a href="quit.html"> 회원 탈퇴 </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- 메인 -->
      <div class="main" id="mainContent">
        <div class="main_wrap">
          <div class="mem_info">
            <div class="grade">
              <img
                src="https://dummyimage.com/50x50/000/fff"
              /><!-- 등급 이미지 -->
            </div>
            <div class="mem_detail">
              <strong>홍길동님</strong>
            </div>
          </div>
          <ul class="benefit">
            <li>
              쿠폰:
              <span class="num"> 0 </span>
              장
            </li>
            <li>
              마일리지:
              <span class="num"> 0 </span>
              P
            </li>
            <li>
              마일리지:
              <span class="num"> 0 </span>
              P
            </li>
          </ul>
        </div>

        <!-- 주문 정보 -->
        <div class="user_timelineBox">
          <div class="subtitle">
            <div class="title_area">
              <h2 class="title">MY 주문정보</h2>
              <p>(최근 15일 기준)</p>
            </div>
          </div>
          <div class="orderSummaryBox">
            <ul>
              <li>
                <em>결제완료</em>
                <a>1</a>
              </li>
              <li>
                <em>상품준비중</em>
                <a>0</a>
              </li>
              <li>
                <em>배송중</em>
                <a>0</a>
              </li>
              <li>
                <em>배송완료</em>
                <a>0</a>
              </li>
              <li>
                <em>취소/반품/교환</em>
                <a>0</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 조회 -->
      <div class="order" id="orderInfo" style="display: none">
        <div class="main2">
          <div class="main_wrap2">
            <div class="title_wrap">
              <div class="title">
                <h2>주문/배송 조회</h2>
              </div>
            </div>

            <div class="date">
              <div class="date_wrap">
                <div class="time">
                  <p class="time_name">조회기간</p>
                  <div class="filterInputWrap">
                    <div class="calendar_wrap">
                      <div class="calendar">
                        <input type="date" value="2023-07-04" />
                      </div>
                    </div>
                  </div>
                  <span class="tilde">~</span>
                  <div class="filterInputWrap">
                    <div class="calendar_wrap">
                      <div class="calendar">
                        <input type="date" value="2023-08-04" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="time">
                  <ul class="btnList">
                    <li class="btnItem active">
                      <button type="button" class="month_btn">1개월</button>
                    </li>
                    <li class="btnItem">
                      <button type="button" class="month_btn">3개월</button>
                    </li>
                    <li class="btnItem">
                      <button type="button" class="month_btn">6개월</button>
                    </li>
                  </ul>
                </div>
                <div class="time">
                  <button type="button" class="btnSearch month_btn">
                    조회
                  </button>
                </div>
              </div>
            </div>

            <div class="complete">
              <h3 id="current_date"></h3>
              <div class="order_wrap">
                <img src="https://dummyimage.com/270x82/000/fff" alt="" />
                <div class="info">
                  <div class="ok_wrap">
                    <div class="ok">결제 완료</div>
                    <div class="date2" id="current_date2"></div>
                  </div>
                  <div class="price">11,900원</div>
                  <div class="name">개 맛도리 사과 6~8입(봉)</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div class="footer">
      <iframe src="footer.html" width="100%" height="100%"></iframe>
    </div>
    <script src="mypage.js"></script>
  </body>
</html>
