<!DOCTYPE html>
{%  load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/PNG" href="https://cdn.discordapp.com/attachments/1131799837742997516/1133285838885761054/aed41d3d29ef6179.PNG">
    <title>도와줘유</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- 로고 시작 -->
    <div class="header">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://cdn.discordapp.com/attachments/1131799837742997516/1133282568146518057/12-removebg-preview.png" width="200" height="70" alt="로고">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <!-- 카테고리 -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="list col-3">
                        <div class="container">
                            <div class="dropdown">
                              <!-- 드롭다운 토글 버튼 -->
                              <button class="btn btn-outline-success btn-lg dropdown-toggle" type="button"
                                      id="dropdownMenuButton1" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false" disabled>
                                <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right"
                                  data-bs-content="이곳에 마우스를 올리고 '사과'를 눌러주세요." id="dropPopover1">과일<br>(Fruit)</span>
                              </button>
                              <!-- 드롭다운 메뉴 -->
                              <div class="dropdown-menu" id="dropdownItem1" aria-labelledby="dropdownMenuButton1">
                                <!-- 드롭다운 메뉴 아이템들 -->
                                <a class="dropdown-item" href="/category/과일/사과/">사과</a>
                                <a class="dropdown-item" href="#">감귤/만감류</a>
                                <a class="dropdown-item" href="#">오렌지/자몽/레몬</a>
                                <a class="dropdown-item" href="#">토마토</a>
                                <a class="dropdown-item" href="#">메론/참외</a>
                                <a class="dropdown-item" href="#">포도</a>
                                <a class="dropdown-item" href="#">딸기</a>
                                <a class="dropdown-item" href="#">과일세트/바구니</a>
                              </div>
                            </div>


                            <div class="dropdown">
                              <!-- 드롭다운 토글 버튼 -->
                              <button class="btn btn-outline-success btn-lg dropdown-toggle" type="button"
                                      id="dropdownMenuButton2" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false" disabled>
                                <span>쌀/잡곡<br>(Rice)</span>
                              </button>
                              <!-- 드롭다운 메뉴 -->
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <!-- 드롭다운 메뉴 아이템들 -->
                                <a class="dropdown-item" href="#">백미</a>
                                <a class="dropdown-item" href="#">찹쌀</a>
                                <a class="dropdown-item" href="#">현미/흑미</a>
                                <a class="dropdown-item" href="#">혼합곡</a>
                                <a class="dropdown-item" href="#">수입잡곡</a>
                                <a class="dropdown-item" href="#">수수/조/깨</a>
                                <a class="dropdown-item" href="#">콩/팥</a>
                                <a class="dropdown-item" href="#">보리/귀리</a>
                              </div>
                            </div>


                            <div class="dropdown">
                              <!-- 드롭다운 토글 버튼 -->
                              <button class="btn btn-outline-success btn-lg dropdown-toggle" type="button" id="dropdownMenuButton3"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                <span>정육/계란<br>(meat/Egg)</span>
                              </button>
                              <!-- 드롭다운 메뉴 -->
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <!-- 드롭다운 메뉴 아이템들 -->
                                <a class="dropdown-item" href="#">돼지고기</a>
                                <a class="dropdown-item" href="#">소고기</a>
                                <a class="dropdown-item" href="#">닭고기</a>
                                <a class="dropdown-item" href="#">계란</a>
                              </div>
                            </div>
                        </div>

                    </div>
                        <!-- 검색 -->
                    </div>
                    <form class="d-flex" role="search" id="searchbutton" >
                        <input class="form-control me-2" type="search" placeholder="검색하기(Search)" aria-label="Search" id="searchinput">
                        <button class="btn btn-outline-success" type="submit">검색</button>
                    </form>
                    <!-- 로그인 회원가입 -->
                    <div class="col-3 text-end">
                        <div class="btn-group" role="group" aria-label="로그인 및 회원가입 버튼">

                            {% if user.is_authenticated %}
                            <script>
                                var isLogin = true;
                            </script>
                                <div>
                                     <h5>{{ user.username }}님</h5>반갑습니다.
                                </div>
                            &nbsp;
                                <div>
                                    <button id="join1" class="btn btn-outline-success btn-lg mt-2" onclick="location.href='{% url 'helpyou:logout' %}'">로그아웃</button>
                                </div>
                            {% else %}
                             <script>
                                var isLogin = false;
                             </script>
                                <div>
                                    <button id="LogPopover" data-bs-container="body"
                                       data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="'로그인' 버튼을 눌러주세요"
                                        type="submit" value="로그인" class="btn btn-outline-success btn-lg"type="submit" onclick="location.href='{% url 'helpyou:login' %}'">로그인</button>
                                </div>
                                <div>
                                    <button id="RegPopover" class="btn btn-success btn-lg" data-bs-container="body"
                                       data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="'회원가입'을 눌러주세요"
                                        type="submit" value="회원가입"  onclick="location.href='{% url 'helpyou:signup' %}'">회원가입</button>
                                </div>
                             {% endif %}

                        </div>
                    </div>
                    
                </div>
            </nav>
            </div>
<script>
    const dropdownMenus = document.querySelectorAll('.dropdown-menu');

function showDropdownMenu(menu) {
  menu.style.display = 'block';
}

function hideDropdownMenu(menu) {
  menu.style.display = 'none';
}

const dropdownButtons = document.querySelectorAll('.dropdown-toggle');
dropdownButtons.forEach((button) => {
  let isDropdownVisible = false;

  button.addEventListener('mouseenter', () => {
    const dropdownMenu = button.nextElementSibling;
    showDropdownMenu(dropdownMenu);
    isDropdownVisible = true;
  });

  button.addEventListener('mouseleave', () => {
    const dropdownMenu = button.nextElementSibling;
    isDropdownVisible = false;

    const { clientX, clientY } = event;
    if (!dropdownMenu.contains(document.elementFromPoint(clientX, clientY))) {
      hideDropdownMenu(dropdownMenu);
    }
  });
});

const container = document.querySelector('.container');
container.addEventListener('mouseleave', () => {
  dropdownMenus.forEach((menu) => {
    hideDropdownMenu(menu);
  });
});

//페이지 로드시 실행
$(document).ready(function() {
//        var popCheck = 0;
        //로그인 x
        if(isLogin == false){
            var RegPopover = $("#RegPopover");
            var popover1 = new bootstrap.Popover(RegPopover);

            var LogPopover = $("#LogPopover");
            var popover2 = new bootstrap.Popover(LogPopover);

            popover1.show(); // 페이지 로드 시 1번 팝오버 작동.
            RegPopover.click(function() {
                LogPopover.removeAttr("disabled");
                popover1.hide();
                popover2.show();
                });
        };


        var DropPopover = $("#dropPopover1");
        var popover3 = new bootstrap.Popover(DropPopover);




        //로그인시 실행
        if (isLogin){
            $("#dropdownMenuButton1").removeAttr("disabled");
            $("#dropdownMenuButton2").removeAttr("disabled");
            $("#dropdownMenuButton3").removeAttr("disabled");
            popover3.show();
//            popCheck += 1;
//            alert(popCheck);
//            if (popCheck > 1){
//                popover3.hide();
//            };
        };





        // 드롭다운
        $(document).on("click", function(event) {
            $("#dropdownMenuButton1, #dropdownMenuButton2, #dropdownMenuButton3").attr("aria-expanded", "false");
            $("#dropdownMenuButton1, #dropdownMenuButton2, #dropdownMenuButton3").next().removeClass("show");
          });
        });
</script>

</body>

</html>