{% extends 'helpyou/base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

    {% block css_area %}
    <link href="{% static 'css/product_detail.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/category.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>
    {% endblock %}


    {% block main_area %}

    <nav style="--bs-breadcrumb-divider: '>'; margin-left: 50px;" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">과일</li></li>
            <li class="breadcrumb-item active" aria-current="page">사과</li>
        </ol>
    </nav>

        <div class="row">
            <div class="col-2">
<div class="flex-shrink-0 p-3 bg-white" id="category-title">
          <a
{#            href="Category.html"#}
            class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"
          >
            <svg class="bi pe-none me-2" width="30" height="24">
{#              <use xlink:href="#" />#}
            </svg>
            <span class="fs-5 fw-semibold">카테고리</span>
          </a>
          <ul class="list-unstyled ps-0">
        	<div id="nav">
		<ul class="menu">
			<li>
				<button class="toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">과일</button>
				<ul class="sub">
					<li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">사과</button>
					</li>
					<li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">감귤/만감류</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">오렌지/자몽/레몬</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">토마토</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">메론/참외</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">포도</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">딸기</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">과일세트/바구니</button>
					</li>
				</ul>
			</li>
			<li>
				<button class="toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">쌀/잡곡</button>
				<ul class="sub">
					<li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">백미</button>
					<li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">찹쌀</button>
					</li>
					<li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">현미/흑미</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">혼합곡</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">수입잡곡</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">수수/조/깨</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">콩/팥</button>
					</li>
                    <li>
                        <button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">보리/귀리</button>
					</li>
				</ul>
			</li>
			<li>
				<button class="toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">정육/계란</button>
				<ul class="sub">
					<li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">돼지고기</button>
					</li>
					<li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">소고기</button>
					</li>
					<li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">닭고기</button>
					</li>
                    <li>
						<button class="sub-toggle-button btn-toggle d-inline-flex align-items-center rounded border-0">계란</button>
                    </li>
                </ul>
			</li>
		</ul>
	</div>
          </ul>
</div>
      </div>

            <div class="col-5" id="product-image">

                <div class="main-image-container">
                    <img src="{{ product.main_image.url }}" alt="{{ product.name }} main image" width="408px" height="500px">
                </div>
                <div class="sub-image-container">
                    <div><img src="{{ product.sub_image1.url }}" alt="{{ product.name }}" width="100" height="140"></div>
                    <div><img src="{{ product.sub_image2.url }}" alt="{{ product.name }}" width="100" height="140"></div>
                    <div style="margin-right: 0;"><img src="{{ product.sub_image3.url }}" alt="{{ product.name }}" width="100" height="140"></div>
                </div>
            </div>


            <div class="col-5" id="product-col-5">
                
                <!-- 초록사과5~8입은 제목임 장고에서 title로 가져오면 될듯 -->
                <div class="title"> {{ product.name }} <button type="button" class="sale-button"
                  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right"
                  data-bs-content="스크롤을 아래로 내려 상품 정보를 확인하고 장바구니에 담아주세요." id="Guide"
                >3000원 카드할인 </button></div>
                <div class="origin" style="margin-bottom: 30px;">원산지: 국산</div>
                <div class="price-container"><div class="original-price">판매가:</div> <div class="price">{{ product.price|intcomma }}원</div> (1{{ product.unit }}당
                    {{ product.price|intcomma }}원)</div>                                           <!--판매가-카드할인가 연산-->
                <div class="sale-price-container"><div class="sale-price">카드할인가:</div> <div class="card-price">{{ product.price|sub:product.card|intcomma }}원</div> (1{{ product.unit }}당 {{ product.price|sub:3000|intcomma }}원)</div>
                
                <div class="row" id="advan">
                    <div class="col-3">
                        <div class="card-advan">카드혜택</div>
                    </div>
                    <div class="col-9">
                        모든 신용카드 이용시 2~3개월 무이자 할부 
                    </div>
                </div>
                <div class="row" id="advan">
                    <div class="col-3">
                        <div class="accum-advan">적립혜택</div>
                    </div>
                    <div class="col-9">
                        <!-- 포인트 적립은 판매 금액에 10%로 나올수있게 하려고함 -->
                        마이홈플러스 포인트 100P적립 
                    </div>
                </div>
                <div class="row" id="advan">
                    <div class="col-3">
                        <div class="deliver-info">배송정보</div>
                    </div>
                    <div class="col-9">
                        <div class="deliver-container">
                            <div class="mart-del-container">
                                <div class="none">매장</div>
                                <span class="mart-del">마트배송</span>
                            </div>
                            <div class="market">천안점</div>
                            <span class="order-date">지금 주문하면 내일 15시~17시 도착</span>
                            <div class="del-conatiner">
                                <span class="del-price">{{ product.delivery|intcomma }}원</span> <span class="free-del">(40,000원 이상 구매 시 무료배송)</span>
                            </div>    
                        </div>
                    </div>
                </div>

                <div class="num-container">
                    <div class="item-title-container">
                        <span class="item-title">{{ product.name }}</span>
                    </div>
                    <div class="adjust-container">
                        <div class="adjust-quantity-container">
                            <button class="minus" type="button">-</button>
                            <input type="text" value="1">
                            <button class="plus" type="button">+</button>
                        </div>
                        <div class="adjust-price">
                            <span>{{ product.price|intcomma }}원</span>
                        </div>
                    </div>
                </div>
                    <div class="expected-price-container">
                        <div class="expected-price">
                            <span class="buy-expect">구매예정</span>
                            <span class="total-expect">{{ product.price|intcomma }}<span style="font-size: small; color: black;">원</span></span>
                        </div>
                    </div>
                    <div class="keep-cart-container" id="target">
                        <span>
                            <button type="button" onclick="location.href='/cart/1'"
                            id="payPopover"
                            data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
                            data-bs-content="이곳을 눌러 상품을 장바구니에 담아보세요."
                            >장바구니</button>
                        </span>
            </div>
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
        $(document).ready(function() {
        var payPopover = $("#payPopover");
        var popover1 = new bootstrap.Popover(payPopover);

        var Guide = $("#Guide");
        var popover2 = new bootstrap.Popover(Guide);

        popover2.show();
        popover1.show();
        });


		$(document).ready(function(){
			$("#nav ul.sub, #nav ul.sub-sub").hide();
			$("#nav ul.menu li button.toggle-button").click(function(){
				$(this).siblings("ul.sub").slideToggle("fast");
			});
			$("#nav ul.menu li .sub button.sub-toggle-button").click(function(e){
				e.stopPropagation();
				$(this).siblings("ul.sub-sub").slideToggle("fast");
			});
		});

                $(document).ready(function() {
        var applePopover = $("#applePopover");
        var popover1 = new bootstrap.Popover(applePopover);

        popover1.show();
        });
        </script>
    {% endblock %}
