{% extends 'helpyou/base.html' %}
{% load static %}
{% load mathfilters %}

    {% block css_area %}
    <link href="{% static 'helpyou/css/product_detail.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'helpyou/css/category.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}


    {% block main_area %}

    <nav style="--bs-breadcrumb-divider: '>'; margin-left: 50px;" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">과일</li></li>
            <li class="breadcrumb-item active" aria-current="page">사과</li>
        </ol>
    </nav>

        <div class="row">
            <div class="col-2">

                <div class="flex-shrink-0 p-3 bg-white" id="category-title">
                  <a
            {#            href="Category.html"#}
                    class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"
                  >
                    <svg class="bi pe-none me-2" width="30" height="24">
            {#              <use xlink:href="#" />#}
                    </svg>
                    <span class="fs-5 fw-semibold">카테고리</span>
                  </a>
                  <ul class="list-unstyled ps-0">
                    <!-- 과일 대주제 -->
                    <li class="mb-1">
                      <button
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#home-collapse-fruit"
                        aria-expanded="false"
                        id="largecate"
                      >
                        과일
                      </button>
                      <div class="collapse" id="home-collapse-fruit">
                        <ul
                          class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4"
                        >
                          <!-- 중주제 -->
                          <li>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-kookmin-subtopics"
                                aria-expanded="false"
                                id="sub-kookmin-subtopics"
                              >
                                사과
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-nh-subtopics"
                                aria-expanded="false"
                                id="sub-nh-subtopics"
                              >
                                감귤/만감류
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-woori-subtopics"
                                aria-expanded="false"
                                id="sub-woori-subtopics"
                              >
                                오렌지/자몽/레몬
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-hana-subtopics"
                                aria-expanded="false"
                                id="sub-hana-subtopics"
                              >
                                토마토
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-ibk-subtopics"
                                aria-expanded="false"
                                id="sub-ibk-subtopics"
                              >
                                수박/멜론/참외
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-shinhan-subtopics"
                                aria-expanded="false"
                                id="sub-shinhan-subtopics"
                              >
                                포도
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-sc-subtopics"
                                aria-expanded="false"
                                id="sub-sc-subtopics"
                              >
                                딸기
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-keb-subtopics"
                                aria-expanded="false"
                                id="sub-keb-subtopics"
                              >
                                과일세트/바구니
                              </button>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <!-- 쌀 대주제 -->
                    <li class="mb-1">
                      <button
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#home-collapse-rice"
                        aria-expanded="false"
                        id="largecate"
                      >
                        쌀/잡곡
                      </button>
                      <div class="collapse" id="home-collapse-rice">
                        <ul
                          class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4"
                        >
                          <!-- 중주제 -->
                          <li>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-kookmin-subtopics"
                                aria-expanded="false"
                                id="sub-kookmin-subtopics"
                              >
                                백미
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-nh-subtopics"
                                aria-expanded="false"
                                id="sub-nh-subtopics"
                              >
                                찹쌀
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-woori-subtopics"
                                aria-expanded="false"
                                id="sub-woori-subtopics"
                              >
                                현미/흑미
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-hana-subtopics"
                                aria-expanded="false"
                                id="sub-hana-subtopics"
                              >
                                혼합곡
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-ibk-subtopics"
                                aria-expanded="false"
                                id="sub-ibk-subtopics"
                              >
                                수입잡곡
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-shinhan-subtopics"
                                aria-expanded="false"
                                id="sub-shinhan-subtopics"
                              >
                                수수/조/깨
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-sc-subtopics"
                                aria-expanded="false"
                                id="sub-sc-subtopics"
                              >
                                콩/팥
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-keb-subtopics"
                                aria-expanded="false"
                                id="sub-keb-subtopics"
                              >
                                보리/귀리
                              </button>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <!-- 정육 대주제 -->
                    <li class="mb-1">
                      <button
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#home-collapse-meat"
                        aria-expanded="false"
                        id="largecate"
                      >
                        정육/계란
                      </button>
                      <div class="collapse" id="home-collapse-meat">
                        <ul
                          class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4"
                        >
                          <!-- 중주제 -->
                          <li>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-kookmin-subtopics"
                                aria-expanded="false"
                                id="sub-kookmin-subtopics"
                              >
                                돼지고기
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-nh-subtopics"
                                aria-expanded="false"
                                id="sub-nh-subtopics"
                              >
                                소고기
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-woori-subtopics"
                                aria-expanded="false"
                                id="sub-woori-subtopics"
                              >
                                닭고기
                              </button>
                            </div>
                            <div>
                              <button
                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#sub-hana-subtopics"
                                aria-expanded="false"
                                id="sub-hana-subtopics"
                              >
                                계란
                              </button>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>

            <div class="col-5" id="product-image">

                <div class="main-image-container">
                    <img src="{{ product.main_image.url }}" alt="{{ product.name }} main image" width="408px" height="500px">
                </div>
                <div class="sub-image-container">
                    <div><img src="{{ product.sub_image1.url }}" alt="{{ product.name }}" width="100" height="140"></div>
                    <div><img src="{{ product.sub_image2.url }}" alt="{{ product.name }}" width="100" height="140"></div>
                    <div style="margin-right: 0;"><img src="{{ product.sub_image3.url }}" alt="{{ product.name }}" width="100" height="140"></div>
                </div>
            </div>


            <div class="col-5" id="product-col-5">
                
                <!-- 초록사과5~8입은 제목임 장고에서 title로 가져오면 될듯 -->
                <div class="title"> {{ product.name }} <button type="button" class="sale-button">3000원 카드할인 </button></div>
                <div class="origin" style="margin-bottom: 30px;">원산지: 국산</div>
                <div class="price-container"><div class="original-price">판매가:</div> <div class="price">{{ product.price }}원</div> (1{{ product.unit }}당
                    {{ product.price }}원)</div>                                           <!--판매가-카드할인가 연산-->
                <div class="sale-price-container"><div class="sale-price">카드할인가:</div> <div class="card-price">{{ product.price|sub:product.card }}원</div> (1{{ product.unit }}당 {{ product.price|sub:3000 }}원)</div>
                
                <div class="row" id="advan">
                    <div class="col-3">
                        <div class="card-advan">카드혜택</div>
                    </div>
                    <div class="col-9">
                        모든 신용카드 이용시 2~3개월 무이자 할부 
                    </div>
                </div>
                <div class="row" id="advan">
                    <div class="col-3">
                        <div class="accum-advan">적립혜택</div>
                    </div>
                    <div class="col-9">
                        <!-- 포인트 적립은 판매 금액에 10%로 나올수있게 하려고함 -->
                        마이홈플러스 포인트 100P적립 
                    </div>
                </div>
                <div class="row" id="advan">
                    <div class="col-3">
                        <div class="deliver-info">배송정보</div>
                    </div>
                    <div class="col-9">
                        <div class="deliver-container">
                            <div class="mart-del-container">
                                <div class="none">매장</div>
                                <span class="mart-del">마트배송</span>
                            </div>
                            <div class="market">천안점</div>
                            <span class="order-date">지금 주문하면 내일 15시~17시 도착</span>
                            <div class="del-conatiner">
                                <span class="del-price">{{ product.delivery }}원</span> <span class="free-del">(40,000원 이상 구매 시 무료배송)</span>
                            </div>    
                        </div>
                    </div>
                </div>

                <div class="num-container">
                    <div class="item-title-container">
                        <span class="item-title">{{ product.name }}</span>
                    </div>
                    <div class="adjust-container">
                        <div class="adjust-quantity-container">
                            <button class="minus" type="button">-</button>
                            <input type="text" value="1">
                            <button class="plus" type="button">+</button>
                        </div>
                        <div class="adjust-price">
                            <span>{{ product.price }}원</span>
                        </div>
                    </div>
                </div>
                    <div class="expected-price-container">
                        <div class="expected-price">
                            <span class="buy-expect">구매예정</span>
                            <span class="total-expect">{{ product.price }}<span style="font-size: small; color: black;">원</span></span>
                        </div>
                    </div>
                    <div class="keep-cart-container">
                        <span>
                            <button type="button" onclick="location.href='/cart/1'">장바구니</button>
                        </span>
                    </div>
            </div>
        </div>
    </div>

    {% endblock %}

{#    <script>#}
{#        function moveToCartPage() {#}
{#          window.location.href = "cart.html";#}
{#        }#}
{#      </script>#}
